<html>
  <head>

  </head>

  <body>
    <div class = "header">
      <nav class = "navbar">
        <ul>

            <a routerLinkActive="active" routerLink="list">List</a>
            <a routerLinkActive="active" routerLink="create">Create</a>
            <a routerLinkActive="active" routerLink="update">Update</a>
            <a routerLinkActive="active" routerLink="remove">Remove</a>
          <!--  <a routerLinkActive="active" routerLink="findById">FindById</a>-->

        </ul>
      </nav>
    </div>
  </body>
</html>
<router-outlet></router-outlet>

